<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cam Test</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div id="mainholder">
            <div>
                <div class="overlay-holder"><div class="video-overlay"></div></div>
                <video class="myhold" id="video" width="320" height="240" autoplay></video>
                <button type="button" class="btn btn-primary" id="start-camera">Start Camera</button>
            </div>
            <div>
                <canvas class="myhold" id="canvas" width="300" height="300"></canvas>    
                <button type="button" class="btn btn-primary" id="click-photo">Click Photo</button>
            </div>
        </div>
        <a id="link"></a>
    </body>
	<script type="text/javascript" src="../static/req.js"></script>
	<script type="text/javascript" src="../static/cam.js"></script>
</html>